* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
        
  --var-darkgrey-color: hsl(228, 15%, 38%);
  --var-span-color: hsl(258, 14%, 77%);
  --var-pink-color: #FF5374;
  --var-hover-pink: #f00030;
  --var-body-color: hsl(0, 0%, 94%);
  
  font-size: 62.5%;
}

body {
  background-color: var(--var-body-color);
  
  font-family: 'Poppins', sans-serif;

  font-size: 1.4rem;
}

body::before {
  content: '';
  z-index: -1;

  position: absolute;

  width: 100vw;
  height: 45rem;
  top: 0;
  left: 0;

  background: var(--var-darkgrey-color);
}

.page {
  width: 75rem;
  margin: 0 auto;
}

header {
  height: 13rem;
  width: 40rem;
  color: var(--var-body-color);
}

header h1 {
  font-family: 'Staatliches', cursive;
  margin-top: 13rem;
  
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 6rem;
  
  margin-bottom: 1.8rem;
}

header p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

}

form {
  margin-top: 38px;
  background-color: #FAFAFC;
  min-height: 300px;

  padding: 64px;

  border-radius: 8px 8px 0 0;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
}

legend {
font-family: 'Staatliches', cursive;
font-weight: 400;
font-size: 2.4rem;
line-height: 3.4rem;

padding-bottom: 1.6rem;
color: var(--var-darkgrey-color);

border-bottom: 1px solid var(--var-darkgrey-color);

width: 100%;
}

.name-wrapper {
  display: flex;

  width: 100%;
  margin-top: 3.6rem;
  
}

.name-wrapper label+label {
  margin-left: 27rem;
}

.name-input-wrapper {
  display: flex;
  gap: 2.2rem;
  width: 100%;
}


.name-wrapper {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--var-darkgrey-color);

  display: flex;
  flex-direction: row;
  gap: 2.2rem;
}

.input-wrapper {

  margin-top: 3.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}


.name-input-wrapper input { 
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
  width: 30rem;
  height: 5.6rem;

  margin-bottom: 1.6rem;
  margin-top: 1rem;

}

input {
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
  width: 100%;
  height: 5.6rem;

  margin-top: 1rem;

  padding-left: 1rem;

  text-transform: uppercase;
  color: var(--var-darkgrey-color);
  font-weight: 400;
  font-size: 1.4rem;
}

span {
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  
  color: var(--var-span-color);
}

.data-time {
  display: flex;
  flex-direction: row;
}

.data-time label:nth-child(1) {
  margin-right: 18rem;
}

.data-time label:nth-child(2) {
  margin: 0;
}

.data-time label+label {
  margin-left: 12rem;
}

input#input-date {
  width: 30rem;
  margin-right: 1rem;
} 

input#input-time {
  width: 14rem;
  margin-right: 1rem;
}

fieldset h2 {
  margin-top: 3.2rem;

  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;

color: var(--var-darkgrey-color);

}

footer {
  height: 16rem;
  background-color: var(--var-darkgrey-color);
  border-radius: 0 0 8px 8px;

  margin-bottom: 36.6;

}

footer button {
  text-align: center;
  color: white;
  background-color: var(--var-pink-color);
  height: 5.5rem;

  font-family: 'Staatliches';
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.6rem;
  
  margin: 5rem 7rem;
  width: 60rem;
  border: none;
  border-radius: 2rem;
}

footer button:hover {
  background-color: var(--var-hover-pink);
}